body {
    background-image: url('https://img.freepik.com/vector-gratis/libros-patrones-fisuras-libros-texto-contorno-doodle_107791-9584.jpg?w=826&t=st=1695875978~exp=1695876578~hmac=e3db02f05d8848df24870abaaafe3f50c6578668775f17298c2222069504a5e1');
    background-position: center; 
    margin: 0; 
    padding: 0; 
}